.top-picks-container {
  display: flex;
  flex-wrap: wrap;
  .pizza-card {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 12px 33px -9px rgba(0, 0, 0, 0.25);
    margin: 25px auto;
    padding: 15px;
    width: 45%;
    min-width: 800px;

    img {
      margin-right: 50px;
    }
    .pizza-details {
      h3 {
        color: #b2282d;
        margin-bottom: 25px;
      }

      .pizza-toppings {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 165px;

        p {
          margin-right: 50px;
        }
      }
    }
  }
}

.other-specialties-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .pizza-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 12px 33px -9px rgba(0, 0, 0, 0.25);
    margin: 25px 50px;
    padding: 15px;
    width: 450px;
    text-align: center;

    img {
    }
    .pizza-details {
      h3 {
        color: #b2282d;
        margin-bottom: 25px;
      }

      .pizza-toppings {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
